
.span{
  display: flex;
    text-align: center;
    justify-content: center;
    top: 550px;
    right: 750px;
    color:#4D5656;
    position: absolute;
    
    
}
span{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
}
.btn-clear{
  height: 30px;
  width: 70px;
  border-radius: 0.3rem;
  background-color: transparent;
  font-family: 'Architects Daughter', cursive;
  border-color: #F1948A;
  color:#4D5656;
  top: 550px;
  margin-left: 55px;
  position: absolute;
  font-size: xx-small;

}


